@import url('https://fonts.googleapis.com/css?family=Nunito|Text+Me+One');


html {
	height: 100%;
	/* Source: "https://desktopwalls.net/nature/calm-mountain-lake-4k-ultra-hd-desktop-wallpaper" */
	background-image: url(background.jpg);
	background-size: cover;
}

body {
	background-color: #030303bd;
	width: 80%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.65em;
	text-align: center;
	font-family: 'Text Me One', sans-serif;
}

section{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

h1, h2 {
	color: white;
}

h1 {
	font-size: 30pt;
	padding: 1%;
	font-family: 'Nunito', sans-serif;
	padding: 1%;
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
	margin-bottom: 1%:;
	font-size: 15pt;
	padding: 0;
}

.col {
	background-color: #7cd5e7ab;
	border: solid;
	border-width: 0;
	border-radius: 30%;
	height: 3em;
	width: 9em;
	margin: 10px;
	padding-top: 1.5em;
	display: inline-block;
}

.col:hover, .selected {
	background-color: #ecae6e94;
}

#next {

}

.hidden{
	display: none;
}
