@import url('https://fonts.googleapis.com/css?family=Nunito|Text+Me+One|Krub');


html {
	height: 100%;
	/* Source: "https://desktopwalls.net/nature/calm-mountain-lake-4k-ultra-hd-desktop-wallpaper" */
	background-image: url(background.jpg);
	background-size: cover;
}

body {
	background-color: #a5a5aab3;
	width: 70%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 0.45em;
	font-family: 'Text Me One', sans-serif;
}

main {
	margin-top: 3em;
}

h1 {
	text-shadow: 0px 2px 16px black;
	color: white;
	font-size: 40pt;
	padding: 1%;
	padding-top: 5%;
	font-family: 'Krub', sans-serif;
	margin-bottom: 0;
}

h2 {
	color: #ffffff87;
	margin: 0;
	font-size: 15pt;
	padding: 0;
}

.col {
	background-color: #02010261;
	color: white;
	border-radius: .65em;
	height: 1em;
	width: 6em;
	font-size: 15pt;
	padding: 1em;
	margin: .75em;
	display: inline-block;
}

.col:hover, .selected {
	background-color: #c4a4a5;
	color: black;
	cursor: pointer;
	box-shadow: 0px 2px 10px black;
}

.hidden {
	display: none;
}

#next-btn {
	background-color: green;
	width: 5em;
}
